<div id="footer">
    <div class="container text-center">
        <p>Paged by <a href="http://www.dart-lang.cn">Channely</a>, twitter <a
                    href="https://twitter.com/qijie29896">@qijie29896</a>.</p>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="javascripts/docs.min.js"></script>
</body>
</html>