<%- include header %>
<%- include navbar %>
<ul class="list-group text-center" style="list-style:none;padding:0">
    <li class="list-group-item active"><h3>在线竞价规则</h3></li>
    <li class="list-group-item"><h5>所有出价者里，出价与别人不重复，且出价最低者，将获得胜出。</h5></li>
    <li class="list-group-item"><h5>出价范围：大于0的正整数。</h5></li>
    <li class="list-group-item"><h5>例如：</h5></li>
    <li class="list-group-item"><h6>张三-5</h6></li>
    <li class="list-group-item"><h6>李四-3</h6></li>
    <li class="list-group-item"><h6>王五-7</h6></li>
    <li class="list-group-item"><h6>刘六-3</h6></li>
    <li class="list-group-item"><h5>胜出者为：张三-5</h5></li>
    <li class="list-group-item"><h5><a href="/contact">联系开发者</a></h5></li>
</ul>
<%- include footer %>