<!-- Button trigger modal -->
<span>
    <a class="btn btn-default btn-radius" title="传图" href="#"  data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-picture" style="color: orange">&nbsp;传图&nbsp;</span>
    </a>
</span>
